<!DOCTYPE html>
<html>
<head>
  <title>Croesus</title>
  <%= stylesheet_link_tag    "croesus/application", media: "all" %>
  <%= javascript_include_tag "croesus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
